/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/globals.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #e0eafc 0%, #c373ba 80%);
  color: #22223b;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #8500e4;
  font-size: 2.7rem;
  letter-spacing: 2.5px;
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 1.7rem;
  font-weight: 800;
  text-shadow: 1px 2px 8px #bde0fe;
}

button {
  color: #fff;
  background:linear-gradient(30deg,#772ab1 30%, #085bcf 60%);
  border: none;
  border-radius: 30px;
  padding: 0.8rem 1.7rem;
  font-size: 1.08rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 3px 12px rgba(67, 198, 172, 0.13);
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
  margin: 0.6rem;

}

button:hover, button:focus {
  background:linear-gradient(30deg,#772ab1 30%, #085bcf 60%);
  transform: translateY(-3px) scale(1.06);
  box-shadow: 0 6px 20px rgba(62, 196, 230, 0.553);
  outline: none;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.1rem;
  }
  button {
    font-size: 1rem;
    padding: 0.65rem 1.2rem;
  }
}

.control-row {
  display: flex;
  gap: 16px;
  align-items: center;
  
  margin-bottom: 26px;
  
}
